.navegacao {
    gap: 30px;
    margin-bottom: -2rem;
    font-size: 18px;
    width: 100%;
    background: #09143C;
    padding-bottom: 8rem;
    position: absolute;
    z-index: 0;
}

.nav-link {
    color:#09143C;
    font-weight: 600;
}

.tag-a {
    margin-top: 1rem;
    margin-left: -3px;
    color: aliceblue;
}

@media screen and (min-width:1024px) {
    .navegacao {
        padding-bottom: 14rem;

    }
    .tag-a {
        font-size: 2rem;
    }
}