.img-perfil {
    margin: 4rem 0 1rem 0;
    width: 13rem;
    border-radius: 50%;
    border: 13px solid #09143C;
    z-index: 1;
}

h3 {
    color: #09143C;
    font-size: 1.8rem;
    font-weight: bold;
    animation: fadeIntext 2s both;
}

.slogan {
    margin-top: -.4rem;
    animation: fadeIntext 2s both;
    color: #737680;
    margin-bottom: -1.5rem;


}

@keyframes fadeIntext {
    from {
        opacity: 0;
        transform: scale(.5);
        
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (min-width:1024px) {
    .img-perfil {
        margin: 9rem 0 1rem 0;
        width: 17rem;
        border-radius: 50%;
        border: 15px solid #09143C;
        z-index: 1;
    }
}